@supports (display: grid) {
  .auto-grid {
    display: grid;
    grid-template-columns: repeat(
      auto-fill,
      minmax(var(--auto-grid-min-size, 16rem), 1fr)
    );
  }
  .auto-grid > * {
    max-width: unset;
    margin: unset;
  }
}
